@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: 2px;
  scrollbar-color: hsl(var(--secondary)) hsl(var(--primary));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--secondary));
  border-radius: 5px;
  opacity: 0.3;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 5px;
  opacity: 0.3;
  border: 1px solid hsl(var(--primary));
}

@layer base {
  :root {
    --background: 0, 0%, 98%;
    --foreground: 0, 0%, 11%;

    --muted: 0, 0%, 92%;
    --muted-foreground: 0, 0%, 0%;

    --popover: 0, 0%, 95%;
    --popover-foreground: 0, 0%, 0%;

    --border: 0, 68%, 39%;
    --input: 0, 68%, 39%;

    --card: 0, 0%, 95%;
    --card-foreground: 0, 0%, 0%;

    --primary: 0, 100%, 44%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 0, 0%, 0%;
    --secondary-foreground: 0, 0%, 100%;

    --accent: 0, 100%, 50%;
    --accent-foreground: 0, 0%, 0%;

    --destructive: 0, 68%, 39%;
    --destructive-foreground: 0, 0%, 100%;

    --ring: 0, 100%, 44%;
    --radius: 0.33rem;
  }

  .dark {
    --background: 0, 0%, 11%;
    --foreground: 0, 0%, 100%;

    --muted: 0, 0%, 15%;
    --muted-foreground: 0, 0%, 100%;

    --popover: 0, 0%, 5%;
    --popover-foreground: 0, 0%, 100%;

    --border: 0, 68%, 39%;
    --input: 0, 68%, 39%;

    --card: 0, 0%, 5%;
    --card-foreground: 0, 0%, 100%;

    --primary: 0, 100%, 44%;
    --primary-foreground: 0, 0%, 0%;

    --secondary: 0, 0%, 100%;
    --secondary-foreground: 0, 0%, 0%;

    --accent: 0, 100%, 50%;
    --accent-foreground: 0, 0%, 100%;

    --destructive: 0, 68%, 39%;
    --destructive-foreground: 0, 0%, 100%;

    --ring: 0, 100%, 44%;
    --radius: 0.33rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
